# Pandas NBA ELO Data Tutorial

- [Using pandas and Python to Explore Your Dataset](https://realpython.com/pandas-python-explore-dataset/)

## Setup
- set pandas options
- import nba elo data

In [16]:
import pandas as pd
import numpy as np

In [9]:
pd.set_option("display.max.columns", None)
pd.set_option("display.precision", 2)

In [31]:
# load data
nba = pd.read_csv("data/nba_all_elo.csv")

In [32]:
# data updates
nba["date_played"] = pd.to_datetime(nba["date_game"])

In [33]:
print(f"len   = {len(nba)}")
print(f"shape = {nba.shape}")
nba.head()

len   = 126314
shape = (126314, 24)

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes,date_played
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,66,1300.00,1293.28,40.29,NYK,Knicks,68,1300.00,1306.72,H,L,0.64,NaN,1946-11-01
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,68,1300.00,1306.72,41.71,TRH,Huskies,66,1300.00,1293.28,A,W,0.36,NaN,1946-11-01
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,63,1300.00,1309.65,42.01,NYK,Knicks,47,1306.72,1297.07,H,W,0.63,NaN,1946-11-02
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,47,1306.72,1297.07,40.69,CHS,Stags,63,1300.00,1309.65,A,L,0.37,NaN,1946-11-02
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,33,1300.00,1279.62,38.86,WSC,Capitols,50,1300.00,1320.38,H,L,0.64,NaN,1946-11-02

## `info()`
- Note: dtype object is a catch-all that means pandas could not determine a specific data type, and often means it is string.

In [34]:
# display DataFrame info
#   row count (RangeIndex)
#   column non-null counts and data types (including ocunts)
#   memory usage
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126314 entries, 0 to 126313
Data columns (total 24 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   gameorder      126314 non-null  int64
 1   game_id        126314 non-null  object
 2   lg_id          126314 non-null  object
 3   _iscopy        126314 non-null  int64
 4   year_id        126314 non-null  int64
 5   date_game      126314 non-null  object
 6   seasongame     126314 non-null  int64
 7   is_playoffs    126314 non-null  int64
 8   team_id        126314 non-null  object
 9   fran_id        126314 non-null  object
 10  pts            126314 non-null  int64
 11  elo_i          126314 non-null  float64
 12  elo_n          126314 non-null  float64
 13  win_equiv      126314 non-null  float64
 14  opp_id         126314 non-null  object
 15  opp_fran       126314 non-null  object
 16  opp_pts        126314 non-null  int64
 17  opp_elo_i      126314 non-null  float64
 18  opp_elo_n      126314 non-null  float64
 19  game_location  126314 non-null  object
 20  game_result    126314 non-null  object
 21  forecast       126314 non-null  float64
 22  notes          5424 non-null    object
 23  date_played    126314 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(6), int64(7), object(10)
memory usage: 23.1+ MB

## `describe()`

In [35]:
# analyzes numeric columns by default
nba.describe()

,gameorder,_iscopy,year_id,seasongame,is_playoffs,pts,elo_i,elo_n,win_equiv,opp_pts,opp_elo_i,opp_elo_n,forecast,date_played
count,126314.00,126314.0,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00,126314
mean,31579.00,0.5,1988.20,43.53,0.06,102.73,1495.24,1495.24,41.71,102.73,1495.24,1495.24,0.50,1988-04-09 00:53:18.429311104
min,1.00,0.0,1947.00,1.00,0.00,0.00,1091.64,1085.77,10.15,0.00,1091.64,1085.77,0.02,1946-11-01 00:00:00
25%,15790.00,0.0,1975.00,22.00,0.00,93.00,1417.24,1416.99,34.10,93.00,1417.24,1416.99,0.33,1974-11-08 00:00:00
50%,31579.00,0.5,1990.00,43.00,0.00,103.00,1500.95,1500.95,42.11,103.00,1500.95,1500.95,0.50,1990-02-06 00:00:00
75%,47368.00,1.0,2003.00,65.00,0.00,112.00,1576.06,1576.29,49.64,112.00,1576.06,1576.29,0.67,2003-03-19 00:00:00
max,63157.00,1.0,2015.00,108.00,1.00,186.00,1853.10,1853.10,71.11,186.00,1853.10,1853.10,0.98,2015-06-16 00:00:00
std,18231.93,0.5,17.58,25.38,0.24,14.81,112.14,112.46,10.63,14.81,112.14,112.46,0.22,NaN

- 104 team_ids but 53 fran_ids because franchines move and become different teams
- BOS is the more freq team_id but Lakers the most freq fran_id because the Lakers played in Minneapolis for over 10 years, which would be a different team_id

In [36]:
# describe dtype object
nba.describe(include=object)

,game_id,lg_id,date_game,team_id,fran_id,opp_id,opp_fran,game_location,game_result,notes
count,126314,126314,126314,126314,126314,126314,126314,126314,126314,5424
unique,63157,2,12426,104,53,104,53,3,2,231
top,194611010TRH,NBA,4/17/2013,BOS,Lakers,BOS,Lakers,H,L,at New York NY
freq,2,118016,30,5997,6024,5997,6024,63138,63157,440

## Exploratory Data Analysis

In [37]:
nba["team_id"].value_counts().head()

team_id
BOS    5997
NYK    5769
LAL    5078
DET    4985
PHI    4533
Name: count, dtype: int64

In [26]:
nba["fran_id"].value_counts().head()

fran_id
Lakers      6024
Celtics     5997
Knicks      5769
Warriors    5657
Pistons     5650
Name: count, dtype: int64

In [43]:
# Locate all team_ids for the fran_id "Lakers"
nba.loc[nba["fran_id"] == "Lakers", "team_id"].value_counts()

team_id
LAL    5078
MNL     946
Name: count, dtype: int64

In [44]:
# date range that MNL played
loc = nba.loc[nba["team_id"] == "MNL", "date_played"]
loc.agg(("min", "max"))

min   1948-11-04
max   1960-03-26
Name: date_played, dtype: datetime64[ns]

In [45]:
# how many points have the Celtics scored
nba.loc[nba["team_id"] == "BOS", "pts"].sum()

np.int64(626484)

In [57]:
nba.loc[5555:5559, ["fran_id", "opp_fran", "pts", "opp_pts"]]

      fran_id  opp_fran  pts  opp_pts
5555  Pistons  Warriors   83       56
5556  Celtics    Knicks   95       74
5557   Knicks   Celtics   74       95
5558    Kings    Sixers   81       86
5559   Sixers     Kings   86       81

## Querying Your Dataset

In [59]:
current_decade = nba[nba["year_id"] > 2010]
current_decade.shape

(12658, 24)

In [60]:
games_with_notes = nba[nba["notes"].notnull()]
games_with_notes.shape

(5424, 24)

In [61]:
ers = nba[nba["fran_id"].str.endswith("ers")]
ers.shape

(27797, 24)

- Search for BLB games where both teams scored over 100 points

In [63]:
nba[
    (nba["_iscopy"] == 0) &
    (nba["pts"] > 100) &
    (nba["opp_pts"] > 100) &
    (nba["team_id"] == "BLB")
]

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes,date_played
1726,864,194902260BLB,NBA,0,1949,2/26/1949,53,0,BLB,Baltimore,114,1421.94,1419.43,38.56,MNL,Lakers,115,1637.99,1640.49,H,L,0.34,NaN,1949-02-26
4890,2446,195301100BLB,NBA,0,1953,1/10/1953,32,0,BLB,Baltimore,126,1328.67,1356.65,25.80,BOS,Celtics,105,1591.14,1563.17,H,W,0.28,NaN,1953-01-10
4909,2455,195301140BLB,NBA,0,1953,1/14/1953,34,0,BLB,Baltimore,104,1349.83,1346.36,24.88,MNL,Lakers,112,1665.44,1668.91,H,L,0.22,NaN,1953-01-14
5208,2605,195303110BLB,NBA,0,1953,3/11/1953,66,0,BLB,Baltimore,107,1284.52,1282.24,19.58,NYK,Knicks,113,1649.15,1651.44,H,L,0.18,at Boston MA,1953-03-11
5825,2913,195402220BLB,NBA,0,1954,2/22/1954,60,0,BLB,Baltimore,110,1303.75,1301.97,20.74,BOS,Celtics,111,1591.49,1593.27,H,L,0.25,at Worcester MA,1954-02-22

- Find a 1992 game between both LA teams where they had to play at another court
- Interestingly, the game_location is still "H" instead of the expected "N" (I assume this means neutral)

In [67]:
nba[
    (nba["_iscopy"] == 0) &
    (nba["team_id"].str.startswith("LA")) &
    (nba["date_played"].dt.year == 1992) &
    (nba["notes"].notnull())
]

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes,date_played
68901,34451,199205030LAC,NBA,0,1992,5/3/1992,86,1,LAC,Clippers,115,1546.90,1556.0,47.89,UTA,Jazz,107,1647.51,1638.41,H,W,0.50,"at Anaheim, CA (Anaheim Convention Center)",1992-05-03
68903,34452,199205030LAL,NBA,0,1992,5/3/1992,86,1,LAL,Lakers,76,1489.65,1474.4,39.40,POR,Trailblazers,102,1655.12,1670.37,H,L,0.41,"at Las Vegas, NV",1992-05-03

## Grouping and Aggregating Your Data

In [72]:
# top 10 most points scored in team history
nba.groupby("team_id")["pts"].sum().sort_values(ascending=False).head(10)

team_id
BOS    626484
NYK    582497
LAL    549215
DET    516438
PHI    472991
PHO    437486
CHI    437269
MIL    418326
ATL    411248
POR    402695
Name: pts, dtype: int64

In [77]:
# win/loss for te Spurs after 2010
nba[
    (nba["fran_id"] == "Spurs") &
    (nba["year_id"] > 2010)
].groupby(["year_id", "game_result"])["game_id"].count()

year_id  game_result
2011     L              25
         W              63
2012     L              20
         W              60
2013     L              30
         W              73
2014     L              27
         W              78
2015     L              31
         W              58
Name: game_id, dtype: int64

In [80]:
# 2015-2016 Warriors regular season and playoff record
nba[
    (nba["fran_id"] == "Warriors") &
    (nba["year_id"] == 2015)
].groupby(["is_playoffs", "game_result"])["game_id"].count()

is_playoffs  game_result
0            L              15
             W              67
1            L               5
             W              16
Name: game_id, dtype: int64

## Manipulating Columns

In [81]:
df = nba.copy()
df.shape

(126314, 24)

In [84]:
df["difference"] = df.pts - df.opp_pts
df.head()

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes,date_played,difference
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,66,1300.00,1293.28,40.29,NYK,Knicks,68,1300.00,1306.72,H,L,0.64,NaN,1946-11-01,-2
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,68,1300.00,1306.72,41.71,TRH,Huskies,66,1300.00,1293.28,A,W,0.36,NaN,1946-11-01,2
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,63,1300.00,1309.65,42.01,NYK,Knicks,47,1306.72,1297.07,H,W,0.63,NaN,1946-11-02,16
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,47,1306.72,1297.07,40.69,CHS,Stags,63,1300.00,1309.65,A,L,0.37,NaN,1946-11-02,-16
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,33,1300.00,1279.62,38.86,WSC,Capitols,50,1300.00,1320.38,H,L,0.64,NaN,1946-11-02,-17

In [85]:
df["difference"].max()

np.int64(68)

In [87]:
# rename columns
renamed_df = df.rename(columns={"game_result": "result", "game_location": "location"})
renamed_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126314 entries, 0 to 126313
Data columns (total 25 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   gameorder    126314 non-null  int64
 1   game_id      126314 non-null  object
 2   lg_id        126314 non-null  object
 3   _iscopy      126314 non-null  int64
 4   year_id      126314 non-null  int64
 5   date_game    126314 non-null  object
 6   seasongame   126314 non-null  int64
 7   is_playoffs  126314 non-null  int64
 8   team_id      126314 non-null  object
 9   fran_id      126314 non-null  object
 10  pts          126314 non-null  int64
 11  elo_i        126314 non-null  float64
 12  elo_n        126314 non-null  float64
 13  win_equiv    126314 non-null  float64
 14  opp_id       126314 non-null  object
 15  opp_fran     126314 non-null  object
 16  opp_pts      126314 non-null  int64
 17  opp_elo_i    126314 non-null  float64
 18  opp_elo_n    126314 non-null  float64
 19  location     126314 non-null  object
 20  result       126314 non-null  object
 21  forecast     126314 non-null  float64
 22  notes        5424 non-null    object
 23  date_played  126314 non-null  datetime64[ns]
 24  difference   126314 non-null  int64
dtypes: datetime64[ns](1), float64(6), int64(8), object(10)
memory usage: 24.1+ MB

In [88]:
# drop elo columns
elo_columns = ["elo_i", "elo_n", "opp_elo_i", "opp_elo_n"]
df.drop(elo_columns, inplace=True, axis=1)
df.shape

(126314, 21)

## Specifying Data Types

In [89]:
df["date_game"] = pd.to_datetime(df["date_game"])

In [91]:
df["game_location"].nunique()

3

In [92]:
df["game_location"].value_counts()

game_location
H    63138
A    63138
N       38
Name: count, dtype: int64

- Categorical data makes validation easier and saves memory, as pandas will only use the unique values.

In [109]:
df["game_location"] = pd.Categorical(df["game_location"])
df["lg_id"] = pd.Categorical(df["lg_id"])
df["_iscopy"] = pd.Categorical(df["_iscopy"])
df["team_id"] = pd.Categorical(df["team_id"])
df["fran_id"] = pd.Categorical(df["fran_id"])
df["opp_id"] = pd.Categorical(df["opp_id"])
df["opp_fran"] = pd.Categorical(df["opp_fran"])
df["game_result"] = pd.Categorical(df["game_result"])

In [110]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126314 entries, 0 to 126313
Data columns (total 21 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   gameorder      126314 non-null  int64
 1   game_id        126314 non-null  object
 2   lg_id          126314 non-null  category
 3   _iscopy        126314 non-null  category
 4   year_id        126314 non-null  int64
 5   date_game      126314 non-null  datetime64[ns]
 6   seasongame     126314 non-null  int64
 7   is_playoffs    126314 non-null  int64
 8   team_id        126314 non-null  category
 9   fran_id        126314 non-null  category
 10  pts            126314 non-null  int64
 11  win_equiv      126314 non-null  float64
 12  opp_id         126314 non-null  category
 13  opp_fran       126314 non-null  category
 14  opp_pts        126314 non-null  int64
 15  game_location  126314 non-null  category
 16  game_result    126314 non-null  category
 17  forecast       126314 non-null  float64
 18  notes          5424 non-null    object
 19  date_played    126314 non-null  datetime64[ns]
 20  difference     126314 non-null  int64
dtypes: category(8), datetime64[ns](2), float64(2), int64(7), object(2)
memory usage: 13.5+ MB

## Cleaning Data